body {
  background-color: #00b3b3;
  padding: 20px;
  margin: 0;
}
h1; h2; p, ul, li {
  font-family: Helvetica, Arial, sans-serif;
  color: #004d4d;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #004d4d;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.active {
  background-color: #bcc2c2;
}
.content {
  background-color: #ddeeee;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.counter {
  font-size: 50px;
  font-family: sans-serif;
  color: #333;
  font-weight: bold
}
.counterparent {
  padding: 50;
  background-color: "#FFC53A";
  width: 250;
  height: 100;
  border-radius: 10;
  text-align: "center"
}
button {
  font-size: 20px;
  width: 30;
  height: 30;
  font-family: "sans-serif";
  color: "#333";
  font-weight: "bold";
  line-height: "3px"
}